:root {

    --c-white: #FFFFFF;
    --c-black: rgba(25, 24, 37, 100%);
    --c-black-75: rgba(25, 24, 37, 75%);
    --c-black-50: rgba(25, 24, 37, 50%);
    --c-black-25: rgba(25, 24, 37, 25%);
    --c-black-10: rgba(25, 24, 37, 10%);
    --c-black-05: rgba(25, 24, 37, 5%);
    --c-blue-gradient: linear-gradient(to bottom right,#0061FF, #60efff);
    --c-blue-to-pink-gradient: linear-gradient(to right,#40C9FF, #E81CFF);
    --c-yellow: #facd49;
    --c-orange: #ff5722;
    --c-blue: #0061ff;
    --c-purpl: #5D50C6;
    --c-aqua: #60efff;
    --c-pink: #E81CFF;
    --c-pink02: #F85E9F;


    --f-sm-11: 0.688rem;
    --f-sm-13: 0.813rem;
    --f-sm-14: 0.875rem;
    --f-sm-16: 1rem;
    --f-m-18: 1.125rem;
    --f-m-20: 1.25rem;
    --f-m-23: 1.438rem;
    --f-l-26: 1.625rem;
    --f-l-29: 1.813rem;
    --f-xl-32: 2rem;
    --f-xl-44: 2.75rem;
}

// Boilerplate stayless

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-size: var(--f-m-18);
    color: var(--c-black-50);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: var(--c-black);
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    transition: 150ms ease-in-out;
    transition-property: color, background-color;
    color: inherit;
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


.wrapper {
    width: min(69.375rem, calc(100% - 2rem));
    margin-inline: auto; 
}

.bg-overlay-color-orange {
    width: 31.25rem;
    height: 31.25rem;
    background-color: var(--c-orange);
    border-radius: 50%;

    -webkit-filter: blur(12.5rem);

    position: absolute;
    top: -25rem;
    left: -12.5rem;
    z-index: -5;
}

.bg-overlay-color-yellow {
    width: 31.25rem;
    height: 31.25rem;
    background-color: var(--c-yellow);
    border-radius: 50%;

    -webkit-filter: blur(12.5rem);

    position: absolute;
    top: 50rem;
    right: -20rem;
    z-index: -5;
}

