.brands {
    position: relative;
    padding-block: 4rem;
    img {
        width: auto;
        height: 2rem;
    }

    img[class] {
        width: 4rem;
        height: auto;
        position: absolute;
        left: -8.125rem;
        top: 1.25rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 4rem;

    }
}